body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.0;
  font-weight: 400;
  font-size: 1.5rem;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #302727;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 8px;
  width: 210px;
  height: 40px;
  margin: 5px;
  font-size: 1.5rem;
}


button {
  padding: 8px;
  width: 100px;
  margin: 5px;
  height: 40px;
  font-size: 1.5rem;
}

.findExclusiveOffer{
 
  width: 50%;
  height: 80px;

}

h1 {
  font-size: 2.0rem;
}

.wholeFront{
  
  background-color: #4D3D3D;
  margin: 5px;
  padding: 5px;
}

.proceed {
  
  margin-top: 15px;
  margin-left: 50px;
  padding: 5px;
  width: 100px;
  
}

.interimRecord {
  margin: 3px;
  color: #302727;
  background:#919191;
  width: 60%;
  margin: 2px;
  padding: 3px;

}
.interimButtons {
  //border-style:dotted;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 8px;
  font-size: 1.5rem;
}

.interimBtn {
  margin-left : 40px;
  //border-style:dotted;
  display: flex;
  height: 80px;
  width: 320px;
  margin-right: 60px;
  padding : 5px;
}




.interimDetails {
  margin: 3px;
  background: #787878;
  padding: 2px;
}

.askPrincipalDate{
  display: flex;
  flex-direction: row;
  //border-style: dotted;
  //color: purple;
  position: relative;
  align-items: center;
}

.offerInputHead{
  width: 80%;
  margin: 5px;
}

.offerInputThing{
  width: 50%;
  margin: 5px;
}

.interimQ {
  margin: 5px;
}

.askAboutTheOffer {
  background: #6A5252;
  min-height: 300px;
  margin: 5px;
  padding: 5px;
  border-style: dotted;
 
}

.askingBill {
background: #886767;
margin: 5px;
padding: 5px;

}




.askPrincipalRate {
  display: flex;
  flex-direction: row;
  //width: 400px;
  //border-style: dotted;
  //color: purple;
  position: relative;
  align-items: center;
}   

.askPrincipalAmount {
  display: flex;
  flex-direction: row;
  //width: 400px;
  //border-style: dotted;
  //color: purple;
  position: relative;
  align-items: center;
}


.rightThing {
  position:  absolute;
  right: 10%;


}

.thisThing {
  margin: 3px;
  padding: 3px; 
}

.offerBtns {
  display: flex;
  padding : 3px;
  flex-direction: row;
  width: 60%;
  //border-style: dotted;
  color: pink;
  position: absolute;
  align-items: center;
  height: 90px:
}

.offerBtn {
  width: 200px;
  height: 80px;
}

.offerRight {
  position:  absolute;
  right: 0;
  width: 200px;
  height: 80px;

}

.billAssesedAmount {
  width: 40%;
}

.lastButton {
  width: 50%;
  height: 80px;
}

.endButton {
text-align:center;
  height: 80px;
  width: 40%;
  align-items: center;
  justify-content: center;

}

.billAnswers {
  align-items: center;
  justify-content: center;
}